<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.blog.mapper.PostTagMapper">

    <insert id="insertBatch">
        INSERT INTO post_tag (post_id, tag_id) VALUES
        <foreach collection="postTags" item="item" separator=",">
            (#{item.postId}, #{item.tagId})
        </foreach>
    </insert>

    <delete id="deleteByPostId">
        DELETE FROM post_tag WHERE post_id = #{postId}
    </delete>

    <select id="findTagIdsByPostId" resultType="java.lang.Long">
        SELECT tag_id FROM post_tag WHERE post_id = #{postId}
    </select>

</mapper>
